@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<HotelChief.API.SharedResource> SharedLocalizer
<h2>@SharedLocalizer["Employee_Productivity_Report"]</h2>
<a asp-action="GenerateEmployeeProductivityReport">@SharedLocalizer["Employee_Productivity_Report"]</a>

<h2>@SharedLocalizer["Popular_Rooms_Report"]</h2>
<a asp-action="GeneratePopularRoomsReport">@SharedLocalizer["Popular_Rooms_Report"]t</a>

<h2>@SharedLocalizer["Revenue_Report"]</h2>
<a asp-action="GenerateRevenueReport">@SharedLocalizer["Revenue_Report"]</a>

<h2>@SharedLocalizer["Top_Hotel_Service_Report"]</h2>
<a asp-action="GenerateTopHotelServiceRevenueReport">@SharedLocalizer["Top_Hotel_Service_Report"]</a>

<h2>@SharedLocalizer["Top_Room_Revenue_Report"]</h2>
<a asp-action="GenerateTopRoomRevenueReport">@SharedLocalizer["Top_Room_Revenue_Report"]</a>