@model IEnumerable<HotelChief.Core.DTO.PopularRoomReportDto>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<HotelChief.API.SharedResource> SharedLocalizer
<h2>@SharedLocalizer["Popular_Rooms_Report"]</h2>
<form asp-action="GeneratePopularRoomsReport" method="post">
    <label for="startDate">@SharedLocalizer["Start_Date"]</label>
    <input type="date" name="startDate" required />
    <label for="endDate">@SharedLocalizer["End_Date"]</label>
    <input type="date" name="endDate" required />
    <label for="topN">@SharedLocalizer["Top_N"]</label>
    <input type="number" name="topN" required />
    <button type="submit">@SharedLocalizer["Generate_Report"]</button>
</form>

@if (@Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RoomNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReservationsCount)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReservationsCount)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}