@model HotelChief.Core.DTO.RevenueReportDto
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<HotelChief.API.SharedResource> SharedLocalizer
<h2>@SharedLocalizer["Revenue_Report"]</h2>
<form asp-action="GenerateRevenueReport" method="post">
    <label for="startDate">@SharedLocalizer["Start_Date"]</label>
    <input type="date" name="startDate" required />
    <label for="endDate">@SharedLocalizer["End_Date"]</label>
    <input type="date" name="endDate" required />
    <button type="submit">@SharedLocalizer["Generate_Report"]</button>
</form>

@if (@Model != null)
{
            <p>Total revenue: @Model.TotalRevenue</p>
            <p>Hotel service orders count: @Model.HotelServiceOrdersCount</p>
            <p>Reservations count: @Model.ReservationsCount</p>
}