@model HotelChief.API.ViewModels.HotelServiceOrderViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<link rel="stylesheet" href="~/font-awesome-4.7.0/css/font-awesome.min.css" />

<h2>@Localizer["Available_Hotel_Services"]</h2>
@TempData["Orders_Amount_Exceeded"]
@TempData["Discount_Status"]
@foreach (var service in Model.HotelServices)
{
    <div>
        <strong>@service.ServiceName</strong>
        <p>@service.Description</p>
        <p>@Localizer["Price"]: $@service.Price</p>
        <form method="post" asp-action="PlaceOrder">
            <input type="hidden" name="serviceId" value="@service.ServiceId" />
            <label for="quantity">@Localizer["Quantity"]:</label>
            <input type="number" name="quantity" value="1" min="1" />
            <input type="hidden" name="orderStatus" id="orderStatus-@service.ServiceId" value="In queue" />
            <button type="submit"><i class="fa fa-shopping-cart"></i> @Localizer["Order"]</button>
        </form>
        <hr />
    </div>
}

<h2>@Localizer["Your_Orders"]</h2>

@if (Model.UserOrders.Any())
{
    <p>@Localizer["Unpaid_Orders"]: @Model.OrdersCount / 20</p>
    foreach (var order in Model.UserOrders)
    {

        <div>
            @if (order.PaymentStatus == false)
            {
                <form method="post" asp-action="CancelUnpaidOrder">
                    <input type="hidden" name="hotelServiceOrderId" value="@order.HotelServiceOrderId" />
                    <button type="submit"><i class="fa fa-shopping-cart"></i> @Localizer["Cancel_Order"]</button>
                </form>
                @if (!order.IsDiscounted && Model.LoyaltyPoints > 0)
                {
                    <form method="post" asp-action="ApplyDiscount">
                        <input type="hidden" name="orderId" value="@order.HotelServiceOrderId" />
                    <button type="submit"><i class="fa fa-tag fa-lg"></i> @Localizer["Apply_Discount"]</button>
                </form>
                }
            }

            <strong>@order.HotelService?.ServiceName</strong>
            <p>@Localizer["Quantity"]: @order.Quantity</p>
            <p>@Localizer["Sum"]: $@order.Amount</p>
            <p>@Localizer["Order_Date"]: @order.ServiceOrderDate</p>
            <p>@Localizer["Payment_Status"]: @order.PaymentStatus</p>
            Order Status: <span id="orderStatus-@order.HotelServiceOrderId" style="color: @(order.EmployeeId.HasValue ? "green" : "gold"); display: inline-block; text-align: left; width: 100%;">
                @(
            order.EmployeeId.HasValue ? Localizer["Order_Status_Accepted"] : Localizer["Order_Status_Enqueued"]
            )
            </span>
            <hr />
        </div>
    }
    if (@ViewBag.HidePayment != "true")
    {
            <form method="POST" accept-charset="utf-8" target="_blank" action="https://www.liqpay.ua/api/3/checkout">
                <input type="hidden" name="data" value=@Html.Raw(Json.Serialize(@ViewBag.Data))/>
            <input type="hidden" name="signature" value=@Html.Raw(Json.Serialize(@ViewBag.Signature))/>
            <button style="border: none !important; display:inline-block !important;text-align: center !important;padding: 5px 24px !important;
    color: #fff !important; box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.12); font-size:16px !important; line-height: 1.75 !important; font-weight: 600 !important; font-family: 'Open Sans', sans-serif; cursor: pointer !important; border-radius: 8px !important;
    background: #77CC5D !important;" onmouseover="this.style.opacity='0.5';" onmouseout="this.style.opacity='1';">
                <img src="https://static.liqpay.ua/buttons/logo-white.svg" name="btn_text"
             style="vertical-align: middle !important;" />
                <span style="vertical-align:middle; !important; margin-left: 8px !important; ">@Localizer["Pay"]</span>
            </button>
        </form>
    }
}
else
{
    <p>@Localizer["No_Orders"]</p>
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.9/signalr.min.js"></script>
<script>

    const connection = new signalR.HubConnectionBuilder().withUrl("/guestHotelServiceOrderHub").build();

    connection.start().catch(err => console.error(err.toString()));

    connection.on("UpdateOrderStatus", function (orderId, employeeId) {
        const orderStatusElement = document.getElementById(`orderStatus-${orderId}`);

        const isAccepted = employeeId !== null && employeeId !== undefined;

        orderStatusElement.style.color = isAccepted ? "green" : "gold";
        orderStatusElement.innerText = isAccepted ? "@Localizer["Order_Status_Accepted"]" : "@Localizer["Order_Status_Enqueued"]";
    });
    connection.on("RefreshOrders", function () {
        location.reload();
    });
</script>

