@model IEnumerable<HotelChief.Core.Entities.HotelServiceOrder>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<h2>@Localizer["Employee_Orders"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>@Localizer["Order_ID"]</th>
            <th>@Localizer["Service"]</th>
            <th>@Localizer["Quantity"]</th>
            <th>@Localizer["Amount"]</th>
            <th>@Localizer["Action"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
                <tr>
                    <td>@order.HotelServiceOrderId</td>
                    <td>@order.HotelService.ServiceName</td>
                    <td>@order.Quantity</td>
                    <td>@order.Amount</td>
                    <td>
                        <form method="post" asp-action="FulfillOrder">
                            <input type="hidden" name="orderId" value="@order.HotelServiceOrderId" />
                        <button type="submit">@Localizer["Order_Fulfilled"]</button>
                        </form>
                    </td>
                </tr>
        }
    </tbody>
</table>