@using Microsoft.AspNetCore.Mvc.Localization;
@inject IHtmlLocalizer<HotelChief.API.SharedResource> SharedLocalizer
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HotelChief</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HotelChief.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HotelChief</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@SharedLocalizer["Main_Page"]</a>
                        </li>
                        @{
                            if (this.Context.User.Identity?.IsAuthenticated ?? false)
                        {
                                if (this.Context.User?.FindFirst("IsAdmin")?.Value == "true")
                                {
                        <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="EmployeesAdmin" asp-action="Index">@SharedLocalizer["Employees"]</a>
                        </li>
                        <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="GuestsAdmin" asp-action="Index">@SharedLocalizer["Guests"]</a>
                        </li>
                        <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="HotelServicesAdmin" asp-action="Index">@SharedLocalizer["Hotel_Services"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="RoomsAdmin" asp-action="Index">@SharedLocalizer["Rooms"]</a>
                        </li>
                        <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="ReservationsAdmin" asp-action="Index">@SharedLocalizer["Reservations"]</a>
                        </li>
                         <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="HotelServiceOrdersAdmin" asp-action="Index">@SharedLocalizer["Admin_Service_Orders"]</a>
                        </li>
                        <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="RoomReservation" asp-action="Index">@SharedLocalizer["Reservations"]</a>
                        </li>
                        }
                        }
                            if (this.Context.User?.FindFirst("IsEmployee")?.Value == "true")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="RoomCleaning" asp-action="Index">@SharedLocalizer["Cleaning_Schedule"]</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="EmployeeHotelServiceOrder" asp-action="Index">@SharedLocalizer["Service_Orders"]</a>
                                </li>
                        }
                         <li class="nav-item">
                                       <a class="nav-link text-dark" asp-area="" asp-controller="Review" asp-action="Index">@SharedLocalizer["Review_Page"]</a>
                        </li> 
                         <li class="nav-item">
                                       <a class="nav-link text-dark" asp-area="" asp-controller="GuestHotelServiceOrder" asp-action="Index">@SharedLocalizer["Service_Orders"]</a>
                        </li> 
                        }
                        
                        <li>
                             @await Html.PartialAsync("_SelectLanguagePartial")
                        </li>

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>` 
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - HotelChief - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
