@model HotelChief.API.ViewModels.GuestReservationViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<h2>@Localizer["Available_Rooms"]</h2>
<link rel="stylesheet" href="~/font-awesome-4.7.0/css/font-awesome.min.css" />

<a class="nav-link custom-link" asp-area="" asp-controller="RoomReservation" asp-action="MyReservations"><i class="fa fa-list-alt"></i> @Localizer["My_Reservations"]</a>
@foreach (var room in Model.AvailableRooms)
{
    <h3>@Localizer["Room"] @room.RoomNumber</h3>
    <p>@Localizer["Type"] @room.RoomType</p>

    <h4>@Localizer["Available_Timeslots"]</h4>
    <form method="post" asp-controller="RoomReservation" asp-action="ReserveRoom">
        <input type="hidden" name="roomNumber" value="@room.RoomNumber" />

        <ul>
            @foreach (var timeSlot in Model.AvailableTimeSlots[room.RoomNumber])
            {
                <li>
                    <label>
                        <input type="checkbox" name="selectedTimeSlots" value="@timeSlot.Item1.ToString("yyyy-MM-dd HH:mm") - @timeSlot.Item2.ToString("yyyy-MM-dd HH:mm")" />
                        @timeSlot.Item1.ToString("yyyy-MM-dd HH:mm") - @timeSlot.Item2.ToString("yyyy-MM-dd HH:mm")
                    </label>
                </li>
            }
        </ul>

        <button type="submit">@Localizer["Reserve_Selected"]</button>
        @Html.ValidationSummary()
    </form>
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.9/signalr.min.js"></script>
        <script>
            const roomReservationConnection = new signalR.HubConnectionBuilder().withUrl("/roomReservationHub").build();

            roomReservationConnection.start().catch(err => console.error(err.toString()));

            roomReservationConnection.on("UpdateAvailableRooms", function () {
                location.reload(); 
            });
        </script>
    }
}