@model HotelChief.API.ViewModels.ReservationViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<h2>@Localizer["Reservation_Confirmation"]</h2>
@TempData["Discount_Status"]
<link rel="stylesheet" href="~/font-awesome-4.7.0/css/font-awesome.min.css" />
<div class="text-center">
    <h2>@Localizer["Reservation_Details"]</h2>
    <p>@Localizer["Room_Number"] @Model.RoomNumber</p>
    <p>@Localizer["Check_In_Date"] @Model.CheckInDate</p>
    <p>@Localizer["Check_Out_Date"] @Model.CheckOutDate</p>
    <p>@Localizer["Amount"] @Model.Amount.ToString("F2")</p>

    @if (@Model.LoyaltyPoints > 0)
    {
        @if (!@Model.IsDiscounted)
        {         
            <p>@Localizer["Loyalty_Points_Available"] @Model.LoyaltyPoints.Value.ToString("F2")</p>
            <form method="post" asp-controller="RoomReservation" asp-action="ApplyDiscount">
                <input type="hidden" name="reservationId" value="@Model.ReservationId" />
                <button type="submit" class="btn btn-success" style="margin-right: 10px; background-color: orange; border-color: orange;"><i class="fa fa-tag fa-lg"></i> @Localizer["Apply_Discount"]</button>
            </form>
            <p></p>
        }
    }

<form method="POST" accept-charset="utf-8" target="_blank" action="https://www.liqpay.ua/api/3/checkout">
                <input type="hidden" name="data" value=@Html.Raw(Json.Serialize(ViewBag.Data))/>
            <input type="hidden" name="signature" value=@Html.Raw(Json.Serialize(ViewBag.Signature))/>
            <button style="border: none !important; display:inline-block !important;text-align: center !important;padding: 5px 24px !important;
    color: #fff !important; box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.12); font-size:16px !important; line-height: 1.75 !important; font-weight: 600 !important; font-family: 'Open Sans', sans-serif; cursor: pointer !important; border-radius: 8px !important;
    background: #77CC5D !important;" onmouseover="this.style.opacity='0.5';" onmouseout="this.style.opacity='1';">
                <img src="https://static.liqpay.ua/buttons/logo-white.svg" name="btn_text"
             style="vertical-align: middle !important;" />
                <span style="vertical-align:middle; !important; margin-left: 8px !important; ">@Localizer["Pay"]</span>
            </button>
        </form>